autopep8==2.0.1
coverage==7.1.0
imageai==3.0.3
flake8==6.0.0
Flask==2.2.2
imageai==3.0.3
imageio==2.25.0
keras==2.11.0
numpy==1.24.1
pandas==1.5.3
pytest==7.2.1
seaborn==0.12.2
tensorflow==2.11.0
python-dotenv==0.21.1
vcrpy==4.2.1
